{{>layout/header}}
{{#summoner}}
    <tr>
       <!-- <td><a href="/posts/update/{{id}}">{{name}}</a></td>-->
        <td>{{name}}님의 레벨은 {{summonerLevel}}입니다.</td>
    </tr>
{{/summoner}}
{{>layout/footer}}